*{
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
    
}  
  

.navbar-brand img{
    width: 200px;
    
}
.name-highlight{
    color: rgb(118 194 126);
    
    
}
.container mt-5{
    margin: 10%;
    padding: 2%;
    
}

.half-width{
    width: 1000px;
    margin-right: 7%;
    padding-right: 3%;
}

.half-width img{
    width: 450px;
    margin: -10%;
    padding: 4%;   
}

.casual{
    color: #ffc107;

}

.money{
    color: rgb(118 194 126);
}

.link-button{
    text-decoration: none;
    background-color: rgb(42 30 89);
    padding: 20px 40px;
    border-radius: 13px;
    color: white;
    font-weight: bold;
}

.image img{
    width: 600px;
}
.col-md-4 img{
    margin: 0%;
    padding: 0%;
    width: 120px;
}
.link-button-1{
    text-decoration: none;
    background-color: rgb(42 30 89);
    padding: 5px 10px 4px ;
    border-radius: 9px;
    color: white;
    font-weight: bold;
}
.panda-card{
    border: 0;
    background-color:rgb(241 241 241);
    border-radius: 20px;
}
.panda-card-footer{
    background-color:white;
    border-radius: 20px;
    
}

